<div class="container mx-auto" style="max-width:100%;">





    <div class="contenedor">
        <div class="contenedor-cards">



            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="../../../assets/imagenes/landingPrincipal.JPG" alt="" data-bs-toggle="modal" data-bs-target="#AmpliarImagen4">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Lading page uniformes</p>

                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="AmpliarImagen4" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Lading page uniformes
                            </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">

                            <img src="../../../assets/imagenes/ladingProductos.JPG" alt="" class="modal__img">
                            <img src="../../../assets/imagenes/landingRegistro.JPG " alt="" class="modal__img">


                            <p>"Realizamos un proyecto de landing page como práctica, donde utilizamos diversas animaciones para dar vida a la página. Implementamos animaciones de burbujas, cambios de colores de letras e imágenes en movimiento, todo con
                                el objetivo de crear una experiencia interactiva y atractiva para los usuarios. Fue una oportunidad para explorar y aplicar técnicas de animación en el desarrollo web y mejorar nuestras habilidades en diseño y desarrollo
                                front-end."
                            </p>

                        </div>
                        <div class="modal-footer">
                            <a class="gif" href="https://github.com/Arlex296/landing-page">
                                <img src="../../../assets/imagenes/github.png" class="zoom-image circular-image" alt="GitHub">

                            </a>
                            <button type="button" class="boton" data-bs-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>




</div>