<div class="container mx-auto" style="max-width: 85%;">

    <div class="column column-2">
        <div class="container">
            <div class="column column-2">



            </div>
            <div class="column">
                <h1 class="animatednombre ">Proyectos</h1>

            </div>



        </div>
        <app-final-sena></app-final-sena>
        <app-carrito-react></app-carrito-react>
        <app-react-api></app-react-api>
        <app-lading-uniformes></app-lading-uniformes>
        <app-libros-django></app-libros-django>