<nav class="navbar navbar-expand-xl navbar-light fixed-top mb-0">
    <div class="container-fluid">
        <a class="nav-link nav-link-hover" href="#"><strong><img src="../../../assets/imagenes/edwin.jpeg" ></strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item p-2" routerLinkActive="active">
                    <a class="nav-link nav-link-hover" [routerLink]="['certificado']" aria-current="page"><strong>Certificados</strong></a>
                </li>
                <li class="nav-item p-2" routerLinkActivate="active">
                    <a class="nav-link nav-link-hover" [routerLink]="['contacto']"><strong>Contacto</strong></a>
                </li>
                <li class="nav-item p-2" routerLinkActivate="active">
                    <a class="nav-link nav-link-hover" [routerLink]="['proyectos']"><strong>Proyectos</strong></a>
                </li>

                <li class="nav-item p-2" routerLinkActivate="active">
                    <a class="nav-link nav-link-hover" [routerLink]="['lenguajes']"><strong>Lenguajes</strong></a>
                </li>

            </ul>
            <nav>
                <ul class="social-media-list">
                    <li>
                        <a href="http://wa.me/573125577623"><img src="../../../assets/imagenes/whatsapp.png" class="zoom-image"></a>
                    </li>
                    <li>
                        <a href="https://github.com/Arlex296"><img src="../../../assets/imagenes/github.png" class="zoom-image"></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/edwin-bustamante-098a62253/"><img src="../../../assets/imagenes/linkedin.jpg" class="zoom-image"></a>
                    </li>
                </ul>
            </nav>


        </div>
    </div>
</nav>