<div class="container mx-auto" style="max-width:100%;">





    <div class="contenedor">
        <div class="contenedor-cards">



            <div class="contenedor-card-item">
                <div class="contenedor-card-item-wrapper">
                    <img src="../../../assets/imagenes/Ventas.JPG" alt="" data-bs-toggle="modal" data-bs-target="#AmpliarImagen2">
                    <div class="contenedor-info">
                        <div class="info">
                            <p class="titulo">Sistema de ventas carrito de compras</p>

                        </div>
                        <div class="fondo"></div>
                    </div>
                </div>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="AmpliarImagen2" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>¡Sistema de ventas carrito de compras y login</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                        </div>
                        <div class="modal-body">

                            <img src="../../../assets/imagenes/Contacto.JPG" alt="" class="modal__img">
                            <img src="../../../assets/imagenes/Login.JPG" alt="" class="modal__img">


                            <p>Realicé este proyecto en compañía de una compañera realizando un diplomado de desarrollo web front-end en REACT. El proyecto consistió en la creación de un sistema de ventas de productos. Los usuarios pueden agregar productos
                                al carrito realizar un registro de usuario para poder realizar el pago de los productos del carrito.
                            </p>

                        </div>
                        <div class="modal-footer">
                            <a class="gif" href="https://github.com/ShelsyAngelica/proyectoReact">
                                <img src="../../../assets/imagenes/github.png" class="zoom-image circular-image" alt="GitHub">

                            </a>
                            <button type="button" class="boton" data-bs-dismiss="modal">Salir</button>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>




</div>