<div class="container mx-auto" style="max-width: 85%;">

    <div class="column column-2">
        <div class="container">
            <div class="column column-2">



            </div>
            <div class="column">
                <h1 class="animatednombre ">Certificados </h1>

            </div>

        </div>




        <div class="contenedor">
            <div class="contenedor-cards">
                <div class="contenedor-card-item">
                    <div class="contenedor-card-item-wrapper">
                        <img src="../../../assets/imagenes/CertificadoNodeJS.JPG" alt="" data-bs-toggle="modal" data-bs-target="#AmpliarImagen3">
                        <div class="contenedor-info">
                            <div class="info">
                                <p class="titulo">Certificado Node JS</p>

                                <!-- <span class="categoria">FFFF</span> -->
                            </div>
                            <div class="fondo"></div>
                        </div>
                    </div>
                </div>

                <div class="centrar">
                    <div class="modal fade" id="AmpliarImagen3" tabindex="-1" aria-labelledby="AmpliarImagen3" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../../../assets/imagenes/CertificadoNodeJS.JPG" class="img-fluid" alt="Imagen ampliada">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="contenedor-card-item">
                    <div class="contenedor-card-item-wrapper">
                        <img src="../../../assets/imagenes/wordpress.JPG" alt="" data-bs-toggle="modal" data-bs-target="#AmpliarImagen4">
                        <div class="contenedor-info">
                            <div class="info">
                                <p class="titulo">Certificado Wordpress</p>
                                <!-- <span class="categoria">FFFF</span> -->
                            </div>
                            <div class="fondo"></div>
                        </div>
                    </div>
                </div>

                <div class="centrar">
                    <div class="modal fade" id="AmpliarImagen4" tabindex="-1" aria-labelledby="AmpliarImagen3" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../../../assets/imagenes/wordpress.JPG" class="img-fluid" alt="Imagen ampliada">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--  card   -->
                <div class="contenedor-card-item">
                    <div class="contenedor-card-item-wrapper">
                        <img src="../../../assets/imagenes/CertificadoTecnologo.JPG" alt="" data-bs-toggle="modal" data-bs-target="#AmpliarImagen1">
                        <div class="contenedor-info">
                            <div class="info">
                                <p class="titulo">Certificado tecnólogo</p>
                                <!-- <span class="categoria">Categoría</span> -->
                            </div>
                            <div class="fondo"></div>
                        </div>
                    </div>
                </div>

                <!-- Modal 1 -->
                <div class="centrar">
                    <div class="modal fade" id="AmpliarImagen1" tabindex="-1" aria-labelledby="AmpliarImagen1" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../../../assets/imagenes/CertificadoTecnologo.JPG" class="img-fluid" alt="Imagen ampliada">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





                <div class="contenedor-card-item">
                    <div class="contenedor-card-item-wrapper">
                        <img src="../../../assets/imagenes/ReactCertificado.JPG" alt="" data-bs-toggle="modal" data-bs-target="#AmpliarImagen2">
                        <div class="contenedor-info">
                            <div class="info">
                                <p class="titulo">Certificado React JS</p>

                                <!-- <span class="categoria">FFFF</span> -->
                            </div>
                            <div class="fondo"></div>
                        </div>
                    </div>
                </div>

                <div class="centrar">
                    <div class="modal fade" id="AmpliarImagen2" tabindex="-1" aria-labelledby="AmpliarImagen2" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="../../../assets/imagenes/ReactCertificado.JPG" class="img-fluid" alt="Imagen ampliada">
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>




    </div>








</div>