<head>
    <link href="https://fonts.googleapis.com/css?family=Chela+One&display=swap" rel="stylesheet">
    <style>
        h1,
        h2 {
            font-family: 'Abril Fatface', cursive;
            font-weight: bold;
            text-align: center;
        }
    </style>
</head>
<div class="container mx-auto" style="max-width: 85%;">

    <div class="column column-2">
        <div class="container">
            <div class="column column-2">

                <img id="myImage" class="imagen" src="../../../assets/imagenes/IMG_3101.jpg">

            </div>
            <div class="column">
                <h1 class="animatednombre ">Edwin Arlex Bustamante Osorio</h1>
                <h2 class="animated">Desarrollador Full-Stack</h2>
            </div>


        </div>
        <app-pdfcurriculum></app-pdfcurriculum>
        <br>

        <div class="image">



            <h1>Mi descripción </h1>
            <p>Soy un apasionado desarrollador web con experiencia en el desarrollo de aplicaciones web interactivas y sitios web atractivos. Me especializo en la creación de interfaces intuitivas y experiencias de usuario excepcionales. Estoy constantemente
                actualizado sobre las últimas tendencias en desarrollo web y me esfuerzo por mejorar continuamente mis habilidades. Además, soy un firme creyente en el trabajo en equipo y disfruto colaborar con otros profesionales para lograr resultados
                excepcionales. Tengo un gran interés en aprender y enseñar, lo que me permite contribuir activamente en un grupo de trabajo y compartir mis conocimientos con mis compañeros. Creo en la importancia de un entorno de trabajo colaborativo
                donde podamos aprender y crecer juntos.</p>



            <img id="imagen1" src="../../../assets/imagenes/analisis.jpg" class="zoom-image" alt="">
            <h2 class="h2section1"> Tecnólogo en Análisis y Desarrollo de Sistemas de Información del SENA </h2>

            <article>
                <h3 class="h3styles"> Habilidades que desarrolle: </h3>

                <p>1. Analizar los requisitos del cliente para construir el sistema de información.</p>
                <p>2. Aplicar buenas prácticas de calidad en el proceso de desarrollo de software.</p>
                <p>3. Comprensión escrita en inglés y comprensión oral en inglés</p>
                <p>4. De acuerdo con el cliente, diseñará sistemas</p>
                <p>5. Según las necesidades del cliente, sabrá especificar los requisitos necesarios para desarrollar sistemas de información.</p>
                <p>6. Implementar la solución según los requisitos para su operación.</p>
                <p>7. Redacción de textos en inglés</p>
                <p>8. Resultados de aprendizaje de la etapa práctica</p>
                <br>

            </article>
          
        </div>
    

    </div>

</div>