<div class="container mx-auto" style="max-width: 85%;">

    <div class="column column-2">
        <div class="container">
            <div class="column column-2">



            </div>
            <div class="column">
                <h1 class="animatednombre ">Lenguajes</h1>

            </div>
        </div>






        <h2>
            Conocimientos en los siguientes lenguajes, editores de programación</h2>




        <div class="centrar">
            <div class="container1">

                <div class="item">
                    <img src="../../../assets/imagenes/Angular.jpg" alt="Imagen 1" class="zoom">
                    <p>Angular</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/CSHAR.png" alt="Imagen 2" class="zoom">
                    <p>C#</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/css.jpg" alt="Imagen 3" class="zoom">
                    <p>CSS</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/github.png" alt="Imagen 4" class="zoom">
                    <p>github</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/Html.jpg" alt="Imagen 5" class="zoom">
                    <p>HTML</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/JAVA.jpg" alt="Imagen 6" class="zoom">
                    <p>java</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/javasc.jpg" alt="Imagen 7" class="zoom">
                    <p>JavaScript</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/mysql.png" alt="Imagen 8" class="zoom">
                    <p>MySQL</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/NET.png" alt="Imagen 9" class="zoom">
                    <p>.NET</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/Node.jpg" alt="Imagen 10" class="zoom">
                    <p>node js</p>
                </div>

                <div class="item">
                    <img src="../../../assets/imagenes/php.png" alt="Imagen 11" class="zoom">
                    <p>php</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/python.jpg" alt="Imagen 12" class="zoom">
                    <p>python</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/react.jpg" alt="Imagen 13" class="zoom">
                    <p>React JS</p>
                </div>
                <div class="item">
                    <img src="../../../assets/imagenes/sql-server.jpg" alt=" Imagen 14 " class="zoom">
                    <p>SQL Server</p>
                </div>




            </div>
        </div>


    </div>

</div>